body {
	/*background-color: #000000;*/
	background-image: url("../images/rock-wallpapers9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ff0000;
}

/*Arm the Pit Welcome Font*/
h1, h2 {
	font-family: 'New Rocker', cursive;
	text-align: center;
}

h6 {
	text-align: center;
}
/*Font for navbar and forms*/
a, .navbar-brand, .control-label {
	font-family: 'Lato', sans-serif;
}
/*Font weight for the navbar*/
a, .navbar-brand {
	font-weight: bolder;
}

/*Color for the form*/
.control-label, input {
	color: white;
}

/*This makes the navbar, jumbo and footer */
.jumbotron, .navbar, .navbar-default, .navbar-fixed-bottom, .navbar-header, .navbar-brand {
   background: rgba(200, 54, 54, 0.0);
	 border: 0;
}

.navbar-default .navbar-brand {
	color: #ff0000;
}

.navbar-default .navbar-nav > li > a {
  color: #ff0000;
}
.row {
	background: rgba(5, 4, 4, 0.31);
}

/*White textbox field in the artist signup form*/
.rdw-editor-main {
	background-color: white;
}
/*Black font in textbox field in the artist signup form*/
.DraftEditor-editorContainer {
	color: black;
}

/*Alert Message*/
.alert-success, .alert-danger, .alert {
	font-family: 'New Rocker', sans-serif;
	font-size: large;
	text-align: center;
}

/*font, size alignment within State, artist, genre, country panel*/
.content {
	font-family: 'Lota', sans-serif;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	background: rgba(200, 54, 54, 0.0);
}
/* button styling for "browse artist by" */
.btn-info {
	background-color: #ff0000;
	border-color: #ff0000;
	margin-left: 20px;
	position: relative;
    left: 307px;
}

.btn-info:hover {
    color: #ff0000;
    background-color: #fff;
    border-color: #fff;
}

.btn-info:active {
    color: #ff0000;
    background-color: #333;
    border-color: #333;
}

.btn-info:focus {
    color: #ff0000;
    background-color: #333;
    border-color: #333;
}

/*logo girl panel set-up*/
.panel-body, .panel, .panel-default {
	background: rgba(200, 54, 54, 0.0);
	border: none;

}
/*.navbar .navbar-default .navbar-fixed-bottom {
    float:left;*/
    /*background-color:#bdf;  /* TEST BG Only.  To Be Deleted */*/
/*}
.navbar .navbar-default .navbar-fixed-bottom {
    display:none;
}*/

/*.navbar-fixed-bottom {
	position: fixed;
}*/

/*.rdw-editor-main {
	border-style: solid;
}*/
