body {
	/*background-color: #000000;*/
	background-image: url("../images/rock-wallpapers9.jpg");
	color: #ff0000;
	font-family: 'Righteous', cursive;
}
/*This makes the navbar, jumbo and footer */
.jumbotron, .navbar, .navbar-default, .navbar-fixed-bottom, .navbar-header, .navbar-brand {
   background: rgba(200, 54, 54, 0.0);
	 border: 0;
}

.navbar-default .navbar-brand {
	color: #ff0000;
}

.navbar-default .navbar-nav > li > a {
  color: #ff0000;
}
.row {
	background: rgba(5, 4, 4, 0.31);
}

/*.navbar-fixed-bottom {
	position: fixed;
}*/

/*.rdw-editor-main {
	border-style: solid;
}*/
